<footer>
    <hr class="footer-seperator">
    <div class="footer-socials">
        <h3>SOCIAL MEDIA</h3>
        <div class="social-icons">
            <a href="#"><i class="fab fa-github fa-lg"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
            <a href="#"><i class="fab fa-xing fa-lg"></i></a>
            <a href="#"><i class="fab fa-stack-overflow fa-lg"></i></a>
        </div>
    </div>

    <div class="footer-information">
        <h5 class="tel-nr">Tel. +49 0176 242 060 82</h5>
        <p>Copyright © 2020 Manuel Neumayer.</p>
        <a href="#">Impressum</a>
    </div>
</footer>