<div class="language-selection">
    <button><i class="fas fa-language"></i> <%- docText.common.select_lang_text %> </button>

    <div class="language-modal-container">
        <div class="modal">
            <div class="close-modal-btn">X</div>
            <h1> <%- docText.common.select_lang_headline %> </h1>

            <div class="options-container">
                <div class="show-options-btn">
                    <i class="fas fa-language"></i> <%- docText.common.select_lang_subtitle %>
                </div>
                <div class="language-option">Deutsch</div>
                <div class="language-option">English</div>
            </div>
            <a class="confirm-btn" href="#"> <%- docText.common.select_lang_confirm_btn %> </a>
        </div>
    </div>
</div>