<div class="navigation-personal-info-wrapper">
    <div class="navigation-socials">
        <div class="navigation-social-container">
            <a href="https://github.com/Manu10744"><i class="fab fa-github"></i></a>
            <p>GitHub</p>
        </div>
        <div class="navigation-social-container">
            <a href="https://www.linkedin.com/in/manuel-neumayer/"><i class="fab fa-linkedin"></i></a>
            <p>LinkedIn</p>
        </div>
        <div class="navigation-social-container">
            <a href="https://www.xing.com/profile/Manuel_Neumayer5/cv"><i class="fab fa-xing"></i></a>
            <p>Xing</p>
        </div>
        <div class="navigation-social-container">
            <a href="https://stackoverflow.com/users/11356914/manu?tab=profile"><i class="fab fa-stack-overflow"></i></a>
            <p>StackOverflow</p>
        </div>
    </div>
</div>