<div class="select-language">
    <button> <%- docText.common.select_lang_text %> </button>
    <div class="selection-indicator"></div>

    <div class="language-options">
        <div class="option">
            <a href="/de">Deutsch</a>
        </div>
        <div class="option">
            <a href="/en">English</a>
        </div>
    </div>
</div>