<!-- SPLASH SCREEN DISPLAYED ON FIRST VISIT -->
<div class="splash-screen">
    <h1 class="splash-text">
        <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters heading">Web Development</span>
            <span class="letters subtitle">By Manuel Neumayer</span>
            <span class="line line2"></span>
        </span>
    </h1>
</div>
<!--                                         -->