<!DOCTYPE html>
<html lang="de">

<head>
    <title>Web Development</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="page-not-found">
            <h1>404 Error</h1>
            <h2>Sorry, the page that you requested could not be found.</h2>
        </div>

        <%- include partials/select-country.ejs %>
    </header>
</body>
