<!DOCTYPE html>
<html>

<head>
    <title>Manuel Neumayer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/compiled.css" rel="stylesheet">
</head>

<body data-barba="wrapper">
    <main data-barba="container" data-barba-namespace="home">
        <header>
            <div class="mobile-nav-toggler">
                <div class="mobile-nav-line first"></div>
                <div class="mobile-nav-line second"></div>
            </div>
            <div class="navigation">
                <ul>
                    <li class="active-nav-item"><a href="/">Home</a></li>
                    <li><a href="/about">Über mich</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Impressum</a></li>
                </ul>
            </div>
            <div class="logo">
                <h3><span class="letters">Web Development</span></h3>
                <p><span class="letters">By Manuel Neumayer</span></p>
            </div>
        </header>

        <%- include ('partials/splash-screen.ejs') %>


        <div class="page-wrapper">
            <div class="welcome-wrapper">
                <div class="container">
                    <div class="welcome-section">
                        <div class="heading-big">
                            <h1>Hi,</h1>
                        </div>
                        <div class="heading-small">
                            <h2>I am</h2>
                            <h3>Manu.</h3>
                        </div>
                    </div>
                    <div class="seperator">
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                    </div>
                    <div class="seperator-title">
                        <h1 class="typewriter">Computer Science Student</h1>
                    </div>
                    <div class="contact-section">
                        <p>Ich heiße <span class="colored">Manuel Neumayer</span> und bin ein im Münchner Raum
                            wohnhafter,
                            angehender Softwareentwickler.</p>
                    </div>
                </div>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M-0.27,135.69 C149.99,150.00 291.48,73.52 501.97,135.69 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7;"></path>
                </svg>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M0.28,131.73 C149.99,150.00 351.30,28.13 500.27,134.70 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7; fill-opacity: 0.3;"></path>
                </svg>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M0.28,131.73 C149.99,150.00 354.12,40.95 501.97,147.53 L501.97,153.45 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7; fill-opacity: 0.5"></path>
                </svg>
            </div>

            <div class="biography-wrapper">
                <h1 class="opacity-header">Welcome</h1>
                <div class="container biography-container">
                    <div class="biography-image-container">
                        <img src="/assets/img/dev-workflow.jpeg">
                    </div>

                    <div class="biography-content-container">
                        <h1>Biography</h1>
                        <hr class="bio-underline">
                        <div class="bio-text">
                            <p>Schon früh hat mich die Entwicklung von Webanwendungen und Software fasziniert, weshalb
                                ich bereits vor dem Informatikstudium anfing, mir das Programmieren selbst beizubringen.
                            </p>
                            <br>
                            <p>Von Anfang an lag für mich dabei stets der Fokus auf den Aufbau eines breitgefächerten
                                Skillsets und
                                technischem Know-How.</p>
                        </div>
                        <a class="bio-read-more-btn" href="/about">More about me</a>
                    </div>
                </div>

                <hr class="biography-seperator">
            </div>

            <div class="offers-wrapper">
                <h1 class="offers-intro typewriter">What I do.</h1>
                <div class="offers">
                    <div class="offer-item">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1>Blogs</h1>
                        <img src="/assets/img/blog-min.jpg">
                    </div>

                    <div class="offer-item">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1>Business Representations</h1>
                        <img src="/assets/img/company-min.jpg">
                    </div>

                    <div class="offer-item">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1>Maintenance of Applications</h1>
                        <img src="/assets/img/maintenance-min.jpg">
                    </div>

                    <div class="offer-item">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1>E-Commerce</h1>
                        <img src="/assets/img/maintenance-min.jpg">
                    </div>

                    <div class="offer-item">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1>Any other Freelancing work!</h1>
                        <img src="/assets/img/idea-min.jpg">
                    </div>

                    <!-- <div class="offer-item">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1></h1>
                        <img src="/assets/img/devices.jpg">
                    </div> -->
                </div>
            </div>

            <div class="props-wrapper">
                <div class="container">
                    <div class="services-intro">
                        <h1 class="services-headline typewriter">My Services</h1>
                        <div class="seperator-big">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                        </div>
                    </div>
                    <div class="props">
                        <div class="prop">
                            <div class="icon-container">
                                <i class="fas fa-gem"></i>
                            </div>
                            <h1>Neueste Technologien</h1>
                            <p>Jegliche von mir erstellten Produkte sind standardmäßig mit modernen
                                Technologien entwickelt, wobei auf wartbaren Code großen Wert gelegt wird.</p>
                        </div>

                        <div class="prop">
                            <div class="icon-container">
                                <i class="fas fa-tty"></i>
                            </div>
                            <h1>Flexibel kommunikativ</h1>
                            <p>Wenn Sie nicht aus der Nähe kommen oder schlichtweg die Zeit für zeitintensive Treffen
                                vor Ort fehlt, entstehen daraus keine Probleme. Über E-Mail und Telefon bin ich
                                jederzeit erreichbar.</p>
                        </div>

                        <div class="prop">
                            <div class="icon-container">
                                <i class="fas fa-ruler-combined"></i>
                            </div>
                            <h1>Responsives Design</h1>
                            <p>Websites erfordern in Zeiten des modernen Webs eine korrekte Darstellung auf allen
                                Geräten unter Beachtung der verschiedenen Bildschirmauflösungen. Daher zeichnet sich
                                jedes meiner Produkte durch ein responsives Design aus.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-section-wrapper">
                <div class="contact-info">
                    <h1 class="typewriter">Let's get in touch?</h1>
                    <p>Entweder über folgendes Formular oder an:</p>
                    <div class="email-container">
                        <div class="icon-container">
                            <i class="fas fa-envelope-open-text"></i>
                        </div>
                        <a href="mailto:089manu6@gmail.com">089manu6@gmail.com</a>
                    </div>
                </div>

                <div class="contact-formular">
                    <form action="/contact" method="POST">
                        <div class="inputs-wrapper">
                            <div class="input-container">
                                <label for="name">Ihr Name</label>
                                <input type="text" name="name" placeholder="Max Mustermann" required>
                            </div>
                            <div class="input-container">
                                <label for="email">Ihre E-Mail</label>
                                <input type="text" name="email" placeholder="max.m@gmail.com" required>
                            </div>
                            <div class="input-container">
                                <label for="topic">Betreff</label>
                                <input type="text" name="topic" placeholder="Ihr Anliegen" required>
                            </div>
                        </div>
                        <div class="message-input-wrapper">
                            <textarea rows="1" cols="30" name="content" placeholder="Was kann ich für Sie tun?"
                                required></textarea>
                            <button class="contact-btn" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>


            <div class="language-selection">
                <button><i class="fas fa-language"></i>Sprache auswählen...</button>

                <div class="language-modal-container">
                    <div class="modal">
                        <div class="close-modal-btn">X</div>
                        <h1>Sprachauswahl</h1>

                        <div class="options-container">
                            <div class="show-options-btn">
                                <i class="fas fa-language"></i>Bitte auswählen...
                            </div>
                            <div class="language-option">Deutsch</div>
                            <div class="language-option">English</div>
                        </div>
                        <a class="confirm-btn" href="#">Bestätigen</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="transition-container"></div>
    <%- include ('partials/footer.ejs') %>

    <!-- BarbaJS -->
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="/assets/js/anime.min.js"></script>
    <!-- FontAwesome -->
    <script defer src="/assets/js/fontawesome.min.js"></script>
    <script defer src="/assets/js/all.min.js"></script>

    <script src="/assets/js/select-language.js"></script>
    <script src="/assets/js/cookies.js"></script>
    <script type="module" src="/assets/js/mobile-navigation.js"></script>
    <script src="/assets/js/animations.js"></script>
    <script type="module" src="/assets/js/typewriter.js"></script>
    <script type="module" src="/assets/js/barbaConfig.js"></script>
</body>

</html>