<!DOCTYPE html>
<html>
    <head>
        <title>Angebot - Web Development Neumayer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../assets/img/favicon.ico">
        <link href="/assets/css/main.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="navbar">
                <div>
                    <ul class="navlinks">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Me</a></li>
                        <li class="active"><a href="/offers">Offers</a></li>
                        <li><a href="/impressum">Impressum</a></li>
                    </ul>
                </div>
            </div>
            
            <%- include partials/select-country.ejs %>
        </header>

        <div class="container">
            
        </div>
        <%- include partials/footer.ejs %>
        <!-- FOR CHANGING NAVBAR ON SCROLL-->
        <script src="/assets/js/navbar.js"></script>
    </body>
</html>