/* GLOBAL SCSS VARIALBES */
$dark-white      : #F7F7F7;
$alpha-black-30    : rgba(0, 0, 0, 0.3);
$sky-blue          : #01CCD9;
$alpha-sky-blue-25 : rgba(1, 204, 217, 0.25);
$sunny-yellow      : #FAFF00;
$bright-purple     : #766FA7;
$dark-purple       : #2C2941;
$black             : #000;
$dark-green        : #008756;
$light-gray        : #999;
$dark-gray         : #494949;

$light-beige       : #C9B9A1;
$cyan              : #bbced2;
$dark-beige        : #b39e89;
$light-silber      : #e6ebee;
$dark-brown        : #2c2c2c;

$headingFont: Lobster;
$normalFont: Raleway;
