/* Partials */
/* Library-related CSS as .scss */
/*                              */
/* CSS for views */
/* GLOBAL SCSS VARIALBES */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap");
.glider, .glider-contain {
  margin: 0 auto;
  position: relative;
}

.glider, .glider-track {
  transform: translateZ(0);
}

.glider-dot, .glider-next, .glider-prev {
  border: 0;
  padding: 0;
  user-select: none;
  outline: 0;
}

.glider-contain {
  width: 100%;
}

.glider {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.glider-track {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}

.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-width: 150px;
}

.glider-slide img {
  max-width: 100%;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-next, .glider-prev {
  position: absolute;
  background: 0 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  top: 30%;
  cursor: pointer;
  color: #666;
  opacity: 1;
  line-height: 1;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.glider-next:focus, .glider-next:hover, .glider-prev:focus, .glider-prev:hover {
  color: #ccc;
}

.glider-next {
  right: -23px;
  left: auto;
}

.glider-next.disabled, .glider-prev.disabled {
  opacity: 0.25;
  color: #666;
  cursor: default;
}

.glider-hide {
  opacity: 0;
}

.glider-dots {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.glider-dot {
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.glider-dot:focus, .glider-dot:hover {
  background: #ddd;
}

.glider-dot.active {
  background: #a89cc8;
}

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }

  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}
/**
* SCSS Version of Glide.js Library.
* Needs to be inserted into compiled CSS file using SASS because BarbaJS 
* simulates a SPA and view-specific CSS files will not be loaded automatically.
*/
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide--rtl {
  direction: rtl;
}

/* GLOBAL SCSS VARIALBES */
.welcome-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url("/assets/img/welcome-bg-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: calc(70px + 10vh);
  padding-bottom: 30vh;
  padding-left: 5%;
  padding-right: 5%;
}

.welcome-section {
  display: flex;
  position: relative;
  max-width: 350px;
}
.welcome-section .heading-big h1 {
  font-size: 6em;
  color: #01CCD9;
  text-shadow: 0px 4px 4px #0C0000;
  display: inline-block;
}
.welcome-section .heading-small h2 {
  font-size: 2.25em;
  text-shadow: 0px 4px 4px #0C0000;
  padding-top: 20px;
  line-height: 0.8em;
  font-weight: 400;
}
.welcome-section .heading-small h3 {
  font-size: 3.25em;
  text-shadow: 0px 4px 4px #0C0000;
  line-height: 0.8em;
}

.contact-section {
  max-width: 400px;
  margin: 50px 0 0 30px;
}
.contact-section p {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 20px;
}

.intro-section {
  margin: 100px 0 200px 0;
  position: relative;
}
.intro-section .welcome-heading {
  font-size: 3em;
  text-align: right;
  color: #eeeeee;
  font-family: Raleway;
  text-align: right;
  padding-right: 10%;
  margin-bottom: 40px;
  letter-spacing: -0.1em;
  font-weight: 400;
}
.intro-section .intro-image-container {
  width: 75%;
  height: 300px;
  background: url("/assets/img/development.jpg");
  background-size: cover;
  background-position: left;
  border-top-right-radius: 50px;
  position: relative;
}
.intro-section .intro-image-container .intro-image-points-decorator {
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
}
.intro-section .intro-content-container {
  height: 300px;
  width: 75%;
  background: #F7F7F7;
  position: absolute;
  top: 70%;
  right: 0;
}
.intro-section .intro-content-container .intro-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-section .intro-content-container .intro-content .intro-heading {
  border-left: 20px solid #494949;
  padding-left: 30px;
}
.intro-section .intro-content-container .intro-content .intro-heading h1 {
  color: #333;
  font-weight: 400;
  letter-spacing: -0.05em;
  font-family: Raleway;
  font-size: 1.5em;
}
.intro-section .intro-content-container .intro-content .intro-text {
  padding: 30px;
}
.intro-section .intro-content-container .intro-content .intro-text p {
  color: #000;
}
.intro-section .intro-content-container .intro-content .decorator-big {
  height: 20px;
  width: 20px;
  position: absolute;
}
.intro-section .intro-content-container .intro-content .decorator-small {
  height: 10px;
  width: 10px;
  position: absolute;
}
.intro-section .intro-content-container .intro-content .decorator-top-top-right {
  top: 0;
  right: 0;
  background: #494949;
}
.intro-section .intro-content-container .intro-content .decorator-top-top-left {
  top: 0;
  right: 10px;
  background: #999;
}
.intro-section .intro-content-container .intro-content .decorator-top-bottom-left {
  top: 10px;
  right: 10px;
  background: #494949;
}
.intro-section .intro-content-container .intro-content .decorator-top-bottom-right {
  top: 10px;
  right: 0px;
  background: #999;
}
.intro-section .intro-content-container .intro-content .decorator-bottom-top-left {
  bottom: 20px;
  right: 20px;
  background: #999;
}
.intro-section .intro-content-container .intro-content .decorator-bottom-top-right {
  bottom: 20px;
  right: 0px;
  background: #494949;
}
.intro-section .intro-content-container .intro-content .decorator-bottom-bottom-left {
  bottom: 0px;
  right: 20px;
  background: #494949;
}
.intro-section .intro-content-container .intro-content .decorator-bottom-bottom-right {
  bottom: 0px;
  right: 0px;
  background: #999;
}
.intro-section .intro-content-container .intro-content .intro-content-points-decorator {
  position: absolute;
  top: calc(100% + 30px);
  right: 15px;
}
.intro-section .intro-content-container::before {
  content: "";
  position: absolute;
  top: -90px;
  right: calc(20% - 2px);
  height: 75px;
  width: 7px;
  background: #494949;
  z-index: 1;
  border-radius: 2px;
}
.intro-section .intro-content-container::after {
  content: "";
  position: absolute;
  top: -130px;
  right: 20%;
  height: 150px;
  width: 3px;
  background: #999;
}

.offers-slider {
  overflow: hidden;
  padding-bottom: 50px;
  margin-top: 50px;
  height: 100vh;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.offers-slider .decorator-line {
  width: 33%;
  max-width: 300px;
  height: 2px;
  background: #999;
  margin-right: auto;
  margin-bottom: 40px;
}
.offers-slider .offers-heading {
  font-size: 3em;
  color: #eeeeee;
  width: 100%;
  font-family: Raleway;
  text-align: left;
  padding-left: 10%;
  margin-bottom: 20px;
  letter-spacing: -0.1em;
  font-weight: 400;
}
.offers-slider .offers-intro {
  font-family: Raleway;
  font-size: 1.5em;
  text-align: center;
  color: #333;
  letter-spacing: -0.05em;
  margin-bottom: 50px;
  font-weight: bold;
}
.offers-slider .glider {
  padding-bottom: 50px;
}
.offers-slider .glider-prev, .offers-slider .glider-next {
  display: none;
}
.offers-slider .slider-item {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  cursor: pointer;
}
.offers-slider .slider-item:nth-of-type(1) .slide-image-container {
  background-image: url("/assets/img/blog-min.jpg");
}
.offers-slider .slider-item:nth-of-type(1) .slide-content-container {
  background: #C9B9A1;
}
.offers-slider .slider-item:nth-of-type(2) .slide-image-container {
  background-image: url("/assets/img/company-min.jpg");
}
.offers-slider .slider-item:nth-of-type(2) .slide-content-container {
  background: #bbced2;
}
.offers-slider .slider-item:nth-of-type(3) .slide-image-container {
  background-image: url("/assets/img/maintenance-min.jpg");
}
.offers-slider .slider-item:nth-of-type(3) .slide-content-container {
  background: #b39e89;
}
.offers-slider .slider-item:nth-of-type(4) .slide-image-container {
  background-image: url("/assets/img/ecommerce.jpg");
}
.offers-slider .slider-item:nth-of-type(4) .slide-content-container {
  background: #e6ebee;
}
.offers-slider .slider-item:nth-of-type(4) .slide-content-container p {
  color: #000;
}
.offers-slider .slider-item:nth-of-type(4) .slide-content-container .info-line {
  background: #000;
}
.offers-slider .slider-item:nth-of-type(4) .slide-content-container .offer-index {
  color: #000;
  border-color: #000;
}
.offers-slider .slider-item:nth-of-type(5) .slide-image-container {
  background-image: url("/assets/img/freelance.jpg");
}
.offers-slider .slider-item:nth-of-type(5) .slide-content-container {
  background: #2c2c2c;
}
.offers-slider .slide-image-container {
  width: 100%;
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-size: cover;
}
.offers-slider .slide-content-container {
  width: 100%;
  height: 60%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  padding: 30px;
  display: flex;
  align-items: center;
}
.offers-slider .slide-content-container .category-info {
  position: absolute;
  top: 25px;
  left: 20px;
  display: flex;
  align-items: center;
}
.offers-slider .slide-content-container .category-info p {
  padding-right: 10px;
  font-size: 0.8em;
}
.offers-slider .slide-content-container .category-info .info-line {
  height: 1px;
  display: block;
  width: 30px;
  background: #F7F7F7;
}
.offers-slider .slide-content-container .offer-index {
  position: absolute;
  top: 17px;
  right: 20px;
  height: 30px;
  width: 60px;
  border-radius: 30px;
  border: 2px solid #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: #F7F7F7;
}
.offers-slider .slide-content-container .offer-description {
  margin-top: 30px;
  text-align: center;
}
.offers-slider .slide-content-container .offer-description h1 {
  font-family: Raleway;
  font-size: 1.5em;
  margin-bottom: 15px;
  letter-spacing: -0.05em;
  font-weight: 400;
}

.offers-slider::before {
  content: "";
  width: 100%;
  min-height: 100vh;
  background: red;
  position: absolute;
  background: url("/assets/img/filler.svg") no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  background-position: right;
  z-index: -1;
  display: none;
}

.props-wrapper {
  width: 100%;
  position: relative;
  background: #F7F7F7;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
}
.props-wrapper .props-image-container {
  width: 100%;
  height: 300px;
  background: url("/assets/img/skyscrapers.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
}
.props-wrapper .props-content-container {
  width: 100%;
  min-height: 300px;
  background: #F7F7F7;
}
.props-wrapper .props-content-container .services-headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 0 20px;
}
.props-wrapper .props-content-container .services-headline-container .services-headline {
  font-family: Raleway;
  color: #999;
  font-size: 1.25em;
  text-align: center;
  background: #F7F7F7;
  text-transform: uppercase;
  margin: 0 10px;
}
.props-wrapper .props-content-container .services-headline-container hr {
  width: 20px;
  height: 1px;
  background-color: #999;
}
.props-wrapper .props-content-container .props {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.props-wrapper .props-content-container .props .prop-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
  max-width: 500px;
}
.props-wrapper .props-content-container .props .prop-item .icon-container {
  margin-bottom: 30px;
  position: relative;
}
.props-wrapper .props-content-container .props .prop-item .icon-container svg {
  font-size: 3em;
  color: #494949;
  color: #7ca6d4;
}
.props-wrapper .props-content-container .props .prop-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: -1.25px;
}
.props-wrapper .props-content-container .props .prop-item h3, .props-wrapper .props-content-container .props .prop-item p {
  color: #000;
  color: #494949;
  z-index: 1;
  padding: 0 30px;
}
.props-wrapper .props-content-container .props .prop-item p {
  margin-top: 5px;
  text-align: center;
}
.props-wrapper .props-content-container .props .prop-item .decorator-top-left {
  display: block;
  width: 30px;
  height: 30px;
  border-left: 2px solid #999;
  border-top: 2px solid #999;
  position: absolute;
  top: -20px;
  left: -20px;
}
.props-wrapper .props-content-container .props .prop-item .decorator-bottom-right {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  position: absolute;
  bottom: -20px;
  right: -20px;
}
.props-wrapper .props-content-container .props .prop-item .seperator {
  width: 50%;
  height: 1px;
  margin: 30px auto;
  background: #EAEAEA;
}
.props-wrapper .props-points-decorator {
  position: absolute;
  top: -150px;
  left: 15px;
}

/* ========================================================= */
/*                      MEDIA QUERIES                        */
/* ========================================================= */
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .welcome-wrapper {
    background-attachment: scroll;
  }
}
@media (min-width: 350px) {
  .intro-section .welcome-heading {
    font-size: 4em;
  }

  .offers-slider .offers-heading {
    font-size: 4em;
  }
}
@media (min-width: 480px) {
  .welcome-section .heading-big h1 {
    font-size: 8em;
  }
  .welcome-section .heading-small h2 {
    font-size: 3em;
    padding-top: 22px;
  }
  .welcome-section .heading-small h3 {
    font-size: 5em;
  }

  .props-wrapper .props-content-container .props .prop-item {
    flex-basis: 50%;
  }
  .props-wrapper .props-content-container .props .prop-item p {
    text-align: justify;
  }

  .intro-section .intro-content-container .intro-content .intro-heading h1 {
    font-size: 2em;
  }

  .offers-slider .offers-intro {
    font-size: 2em;
  }
}
@media (min-width: 768px) {
  .welcome-wrapper {
    background-attachment: fixed;
    padding-left: 10%;
    padding-right: 10%;
  }

  .welcome-section .heading-big h1 {
    font-size: 10em;
  }
  .welcome-section .heading-small h2 {
    font-size: 3.25em;
    padding-top: 30px;
  }
  .welcome-section .heading-small h3 {
    font-size: 6.5em;
  }

  .intro-section {
    margin-bottom: 350px;
  }
  .intro-section .welcome-heading {
    font-size: 7em;
  }
  .intro-section .intro-image-container {
    height: 500px;
  }
  .intro-section .intro-content-container {
    height: 500px;
  }
  .intro-section .intro-content-container .intro-content .intro-heading {
    padding-left: 70px;
  }
  .intro-section .intro-content-container .intro-content .intro-heading h1 {
    font-size: 3.5em;
  }
  .intro-section .intro-content-container .intro-content .intro-text {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  .intro-section .intro-content-container .intro-content .decorator-big {
    height: 40px;
    width: 40px;
  }
  .intro-section .intro-content-container .intro-content .decorator-small {
    height: 20px;
    width: 20px;
  }
  .intro-section .intro-content-container .intro-content .decorator-top-top-left {
    right: 20px;
  }
  .intro-section .intro-content-container .intro-content .decorator-top-bottom-left {
    right: 20px;
    top: 20px;
  }
  .intro-section .intro-content-container .intro-content .decorator-top-bottom-right {
    right: 0;
    top: 20px;
  }
  .intro-section .intro-content-container .intro-content .decorator-bottom-top-left {
    right: 40px;
    bottom: 40px;
  }
  .intro-section .intro-content-container .intro-content .decorator-bottom-top-right {
    bottom: 40px;
  }
  .intro-section .intro-content-container .intro-content .decorator-bottom-bottom-left {
    right: 40px;
  }
  .intro-section .intro-content-container .intro-content .decorator-bottom-bottom-right {
    right: 0;
  }

  .offers-slider .offers-intro {
    font-size: 3em;
  }
  .offers-slider .offers-heading {
    font-size: 7em;
  }

  .props-wrapper {
    margin-top: calc(150px + 250px);
  }
  .props-wrapper .props-image-container {
    height: 500px;
    width: 75%;
    position: absolute;
    top: -250px;
  }
  .props-wrapper .props-content-container {
    width: 75%;
    margin-left: auto;
    z-index: 1;
    position: relative;
  }
  .props-wrapper .props-content-container .services-headline-container {
    margin-top: 50px;
  }
  .props-wrapper .props-content-container::before {
    content: "";
    height: 75px;
    width: 7px;
    background: #494949;
    z-index: 1;
    border-radius: 2px;
    position: absolute;
    top: -90px;
    right: calc(20% - 2px);
  }
  .props-wrapper .props-content-container::after {
    content: "";
    height: 150px;
    width: 3px;
    background: #999;
    position: absolute;
    top: -130px;
    right: 20%;
  }
  .props-wrapper .props-points-decorator {
    top: -400px;
  }
}
@media (min-width: 1080px) {
  .welcome-section .heading-big h1 {
    font-size: 12em;
  }
  .welcome-section .heading-small h2 {
    font-size: 3.5em;
    padding-top: 37px;
  }
  .welcome-section .heading-small h3 {
    font-size: 7.5em;
  }

  .props-wrapper {
    margin-top: calc(150px + 400px);
  }
  .props-wrapper .props-image-container {
    height: 800px;
    top: -400px;
  }
  .props-wrapper .props-content-container .props {
    padding: 0 30px;
  }
  .props-wrapper .props-content-container .props .prop-item {
    flex-basis: 33.3%;
  }
  .props-wrapper .props-content-container::before {
    height: 125px;
    background: #494949;
    top: -116px;
    right: calc(20% - 2px);
  }
  .props-wrapper .props-content-container::after {
    height: 250px;
    top: -180px;
    right: 20%;
  }
  .props-wrapper .props-points-decorator {
    top: -550px;
  }

  .offers-slider .offers-intro {
    font-size: 3.5em;
  }
  .offers-slider .slider-item {
    flex-direction: row;
  }
  .offers-slider .slider-item .slide-image-container {
    height: 400px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }
  .offers-slider .slider-item .slide-content-container {
    height: 100%;
    padding: 40px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
  }
  .offers-slider .slider-item .slide-content-container .category-info {
    top: 50px;
  }
  .offers-slider .slider-item .slide-content-container .offer-index {
    top: 40px;
  }
  .offers-slider .slider-item .slide-content-container .offer-description h1 {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  .props-wrapper .props .prop {
    flex: calc(33.3% - 50px);
  }
  .props-wrapper .props-points-decorator {
    top: -600px;
  }

  .intro-section .welcome-heading {
    font-size: 8.5em;
  }
  .intro-section .intro-content-container .intro-content .intro-heading {
    border-left: 60px solid #494949;
  }
  .intro-section .intro-content-container .intro-content .intro-text {
    width: 50%;
  }
  .intro-section .intro-content-container .intro-content .intro-text p {
    font-size: 1.25em;
  }
  .intro-section .intro-content-container::before {
    height: 125px;
    top: -66px;
  }
  .intro-section .intro-content-container::after {
    height: 250px;
  }

  .offers-slider .offers-heading {
    font-size: 8.5em;
  }
}
@media (min-width: 1540px) {
  .welcome-section .heading-big h1 {
    font-size: 13em;
  }
  .welcome-section .heading-small h2 {
    font-size: 4.5em;
    padding-top: 42px;
  }
  .welcome-section .heading-small h3 {
    font-size: 8em;
  }

  .intro-section .welcome-heading {
    font-size: 10em;
    margin-bottom: 100px;
  }
  .intro-section .intro-image-container {
    height: 800px;
  }
  .intro-section .intro-image-container .intro-image-points-decorator {
    top: calc(100% + 60px);
    left: 5%;
  }
  .intro-section .intro-content-container {
    height: 800px;
  }
  .intro-section .intro-content-container .intro-content .intro-heading {
    padding-left: 200px;
  }
  .intro-section .intro-content-container .intro-content .intro-heading h1 {
    font-size: 5em;
  }
  .intro-section .intro-content-container .intro-content .intro-text p {
    font-size: 1.75em;
  }
  .intro-section .intro-content-container .intro-content .decorator-big {
    height: 80px;
    width: 80px;
  }
  .intro-section .intro-content-container .intro-content .decorator-small {
    height: 40px;
    width: 40px;
  }
  .intro-section .intro-content-container .intro-content .decorator-top-top-left {
    right: 40px;
  }
  .intro-section .intro-content-container .intro-content .decorator-top-bottom-left {
    right: 40px;
    top: 40px;
  }
  .intro-section .intro-content-container .intro-content .decorator-top-bottom-right {
    right: 0;
    top: 40px;
  }
  .intro-section .intro-content-container .intro-content .decorator-bottom-top-left {
    right: 80px;
    bottom: 80px;
  }
  .intro-section .intro-content-container .intro-content .decorator-bottom-top-right {
    bottom: 80px;
  }
  .intro-section .intro-content-container .intro-content .decorator-bottom-bottom-left {
    right: 80px;
  }
  .intro-section .intro-content-container .intro-content .decorator-bottom-bottom-right {
    right: 0;
  }
  .intro-section .intro-content-container .intro-content .intro-content-points-decorator {
    top: calc(100% + 60px);
    right: 5%;
  }

  .props-wrapper .props-points-decorator {
    top: -630px;
    left: 5%;
  }
}
/* GLOBAL SCSS VARIALBES */
.prev-heading-wrapper {
  display: flex;
  align-items: center;
}
.prev-heading-wrapper h3 {
  color: #999;
  font-weight: 400;
  font-size: 1em;
}

.about-hero {
  padding-top: 70px;
  height: 30vw;
  min-height: 300px;
  position: relative;
  background: url("/assets/img/time.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
.about-hero .decorator-line {
  position: absolute;
  bottom: -50px;
  right: 0;
}

.about-intro {
  padding: 100px 5% 0 5%;
  position: relative;
}
.about-intro h1 {
  color: #494949;
}
.about-intro .bg-points {
  position: absolute;
  bottom: -130px;
}

.timeline-wrapper {
  padding: 50px 0 100px 0;
}
.timeline-wrapper .timeline-heading {
  font-size: 3em;
  color: #eeeeee;
  text-align: right;
  font-weight: 400;
  padding-right: 5%;
}
.timeline-wrapper .timeline {
  margin-top: 50px;
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.timeline-wrapper .timeline .timeline-item {
  min-height: 100px;
  max-width: 350px;
  width: 80%;
  position: relative;
  left: 10%;
  margin-top: 30px;
  padding-left: 40px;
}
.timeline-wrapper .timeline .timeline-item .timeline-item-content {
  padding: 25px 20px 20px 20px;
  background: #F0F0F0;
  border: 1px solid #e5e5e5;
  position: relative;
}
.timeline-wrapper .timeline .timeline-item .timeline-item-content .item-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7F7F7;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
}
.timeline-wrapper .timeline .timeline-item .timeline-item-content .item-icon-container svg {
  color: #494949;
}
.timeline-wrapper .timeline .timeline-item .timeline-item-content .timestamp {
  font-weight: bold;
  display: inline-block;
  color: #999;
  margin-bottom: 5px;
  padding: 2px 5px;
  background: #494949;
  border-radius: 5px;
  color: #F7F7F7;
  font-size: 0.8em;
}
.timeline-wrapper .timeline .timeline-item .timeline-item-content .item-title {
  font-size: 1.25em;
  color: #494949;
}
.timeline-wrapper .timeline .timeline-item .timeline-item-content .item-location {
  font-size: 0.9em;
  color: #494949;
  font-weight: 400;
  margin-top: 5px;
}
.timeline-wrapper .timeline .timeline-item .timeline-item-content::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: -51px;
  border-radius: 50%;
  border: 2px solid #494949;
  transform: translateY(-50%);
  background: #F7F7F7;
}
.timeline-wrapper .timeline .timeline-item .timeline-item-content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  border: medium solid #494949;
  border-width: 12px 12px 12px 0;
  border-color: transparent #494949 transparent transparent;
}
.timeline-wrapper .timeline::before {
  content: "";
  position: absolute;
  left: 10%;
  height: 100%;
  width: 2px;
  background: #494949;
}

.personal-info-wrapper {
  background: #0E0E0E;
  padding: 60px 40px;
  position: relative;
}
.personal-info-wrapper .personal-intro {
  margin-bottom: 25px;
}
.personal-info-wrapper .personal-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personal-info-wrapper .personal-info-content .gray-colored {
  color: #999;
}
.personal-info-wrapper .personal-info-content .personal-image {
  height: 150px;
  width: auto;
  border-radius: 482px;
  border: 3px solid #999;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-bottom: 50px;
}
.personal-info-wrapper .personal-info-content .personal-info {
  border-top: 3px solid #01CCD9;
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 5px;
}
.personal-info-wrapper .personal-info-content .personal-info .info-item {
  font-weight: 400;
}
.personal-info-wrapper .bg-points {
  position: absolute;
  bottom: -150px;
  right: 20px;
}

.personal-info-wrapper::after {
  content: "";
  height: 100%;
  width: 80%;
  position: absolute;
  top: 25px;
  right: 0;
  background: #999;
  z-index: -1;
}

.tech-wrapper {
  position: relative;
}
.tech-wrapper .decorator-line {
  margin-top: 150px;
}
.tech-wrapper .tech-heading {
  margin: 80px 0 50px 0;
  font-size: 4em;
  color: #eeeeee;
  text-align: left;
  font-weight: 400;
  padding-left: 5%;
}
.tech-wrapper .tech-stack {
  width: 100%;
  background: #0E0E0E;
  border-top-left-radius: 50px;
  position: relative;
  padding-bottom: 20px;
}
.tech-wrapper .tech-stack .tech-stack-intro {
  margin-bottom: 15px;
}
.tech-wrapper .tech-stack .tech-stack-intro .prev-heading {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech-wrapper .tech-stack .tech-stack-intro .prev-heading .heading-line {
  margin: 0 5px;
}
.tech-wrapper .tech-stack .tech-stack-intro .prev-heading h3 {
  color: #999;
  font-weight: 400;
  text-align: center;
  font-size: 1em;
}
.tech-wrapper .tech-stack .tech-stack-intro h1 {
  font-size: 1.25em;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}
.tech-wrapper .tech-stack .tech-glider {
  padding: 30px 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.tech-wrapper .tech-stack .tech-glider li .tech-glider-item {
  height: 70px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  filter: grayscale(100%);
}
.tech-wrapper .tech-stack .tech-glider li .tech-glider-item svg {
  font-size: 3em;
  color: #999;
}
.tech-wrapper .tech-stack::before, .tech-wrapper .tech-stack::after {
  content: "";
  height: 50px;
  width: 50px;
  position: absolute;
  top: -50px;
  right: 0;
}
.tech-wrapper .tech-stack::before {
  background: #0E0E0E;
}
.tech-wrapper .tech-stack::after {
  background: #F7F7F7;
  border-bottom-right-radius: 50px;
}

.html5 {
  background-image: url("/assets/img/HTML5.svg");
}

.css3 {
  background-image: url("/assets/img/CSS3.svg");
}

.tailwind {
  background-image: url("/assets/img/tailwind.svg");
  width: 100% !important;
}

.js {
  background-image: url("/assets/img/JavaScript.svg");
}

.java {
  background-image: url("/assets/img/Java.svg");
}

.python {
  background-image: url("/assets/img/Python.svg");
}

.mongodb {
  background-image: url("/assets/img/mongodb.svg");
}

.sql {
  background-image: url("/assets/img/mysql.svg");
}

.git {
  background-image: url("/assets/img/git.svg");
}

.figma {
  background-image: url("/assets/img/figma.svg");
}

.animate-timeline-scaleY::before {
  animation: scaleVertical 2s 0s ease both 1 !important;
  transform-origin: 0 0;
}

@keyframes scaleVertical {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
/* ========================================================= */
/*                      MEDIA QUERIES                        */
/* ========================================================= */
@media (min-width: 350px) {
  .timeline-wrapper .timeline-heading {
    font-size: 4em;
  }
}
@media (min-width: 480px) {
  .timeline-wrapper .timeline-heading {
    font-size: 5em;
  }

  .tech-wrapper .tech-heading {
    font-size: 5em;
  }
}
@media (min-width: 768px) {
  .about-intro h1 {
    font-size: 2.5em;
  }

  .personal-info-wrapper {
    padding: 100px 40px;
  }
  .personal-info-wrapper .personal-intro h1 {
    font-size: 2.5em;
  }
  .personal-info-wrapper .personal-info-content {
    flex-direction: row;
    align-items: center;
  }
  .personal-info-wrapper .personal-info-content .personal-image {
    margin: auto 0;
  }
  .personal-info-wrapper .personal-info-content .personal-info {
    margin-left: 80px;
    grid-template-columns: auto auto;
    column-gap: 40px;
  }

  .timeline-wrapper .timeline {
    /* Circle indicator */
    /* Arrow indicator */
  }
  .timeline-wrapper .timeline .timeline-item {
    width: 50%;
    max-width: none;
    margin-top: 0px;
  }
  .timeline-wrapper .timeline .left {
    left: 0;
    padding: 0 40px 0 0;
  }
  .timeline-wrapper .timeline .left .timestamp {
    position: absolute;
    top: 50%;
    left: calc(100% + 60px);
    transform: translateY(-50%);
    background: none;
    color: #999;
    font-weight: 400;
  }
  .timeline-wrapper .timeline .right {
    left: 50%;
  }
  .timeline-wrapper .timeline .left .timeline-item-content::before {
    left: auto;
    right: -53px;
  }
  .timeline-wrapper .timeline .left .timeline-item-content::after {
    left: auto;
    right: -24px;
    border: medium solid #494949;
    border-width: 12px 12px 12px 12px;
    border-color: transparent transparent transparent #494949;
  }
  .timeline-wrapper .timeline::before {
    left: 50%;
  }

  /* Adjusting timestamps */
  .timeline-wrapper .timeline .left .timeline-item-content .timestamp {
    position: absolute;
    top: 50%;
    left: calc(100% + 60px);
    transform: translateY(-50%);
    background: none;
    color: #999;
    font-weight: 400;
    width: 100%;
    font-size: 1em;
  }

  .timeline-wrapper .timeline .right .timeline-item-content .timestamp {
    position: absolute;
    top: 50%;
    right: auto;
    left: -155px;
    transform: translateY(-50%);
    background: none;
    color: #999;
    font-weight: 400;
    width: 50%;
    font-size: 1em;
  }

  .tech-wrapper .tech-stack .tech-stack-intro h1 {
    font-size: 1.5em;
  }
}
@media (min-width: 1080px) {
  .timeline-wrapper .timeline-heading {
    font-size: 7em;
  }
  .timeline-wrapper .timeline .timeline-item .timeline-item-content .item-title {
    font-size: 1.5em;
  }
  .timeline-wrapper .timeline .timeline-item .timeline-item-content .item-location {
    font-size: 1.1em;
  }

  .tech-wrapper .tech-heading {
    font-size: 7em;
  }

  .personal-info-wrapper .decorator-line-thin, .personal-info-wrapper .decorator-line-thick {
    position: absolute;
    display: block;
  }
  .personal-info-wrapper .decorator-line-thin {
    height: 350px;
    width: 2px;
    background: #999;
    top: -225px;
    left: 10%;
  }
  .personal-info-wrapper .decorator-line-thick {
    height: 150px;
    width: 6px;
    background: #494949;
    top: -125px;
    left: calc(10% - 2px);
  }
}
@media (min-width: 1200px) {
  .about-intro .bg-points {
    bottom: -200px;
  }

  .personal-info-wrapper .bg-points {
    bottom: -250px;
  }
}
@media (min-width: 1540px) {
  .about-intro h1 {
    font-size: 4em;
    margin-top: -5px;
  }

  .personal-info-wrapper .personal-intro h1 {
    font-size: 4em;
    margin-top: -5px;
  }

  .about-intro .bg-points {
    bottom: -250px;
    left: 20%;
  }

  .tech-wrapper .tech-heading {
    font-size: 10em;
  }
  .tech-wrapper .tech-stack .tech-stack-intro h1 {
    max-width: none;
    font-size: 2em;
  }

  .timeline-wrapper .timeline-heading {
    font-size: 10em;
  }
}
/* GLOBAL SCSS VARIALBES */
.under-construction {
  min-height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.under-construction h1 {
  color: white;
  font-size: 1em;
}
.under-construction svg {
  margin-right: 20px;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  height: 100%;
  min-width: 300px;
  background: #F7F7F7;
}

.transition-container {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  background: #000;
}

.bg-points {
  background-image: url("/assets/img/points-decorator.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 100px;
}

.decorator-line {
  width: 33%;
  height: 2px;
  max-width: 300px;
  background: #999;
}

.no-letter-spacing {
  letter-spacing: normal;
}

h1, h2, h3, h4, h5, p, a {
  color: #F7F7F7;
}

h1, h2, h3, h4, h5 {
  letter-spacing: -0.05em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input, button, textarea {
  outline: none;
  border: none;
}

.blurred {
  filter: blur(8px);
}

.colored {
  color: #01CCD9;
}

.revealable {
  opacity: 0;
  will-change: transform;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.typewriter {
  position: relative;
}

.typewriter::after {
  content: "";
  border-right: 2px solid;
  border-color: inherit;
  animation: cursor 1s step-start 0s infinite;
  margin-left: 4px;
}

.heading-line {
  width: 33%;
  max-width: 50px;
  min-width: 30px;
  height: 1px;
  margin-left: 10px;
  margin-top: 0.000125em;
  background: #999;
}

.page-wrapper {
  position: relative;
}

header {
  width: 100%;
  height: 70px;
  background: black;
  position: fixed;
  top: 0;
  z-index: 2;
}
header .mobile-nav-active .first {
  transform: rotate(45deg);
}
header .mobile-nav-active .second {
  width: 25px !important;
  transform: rotate(-45deg) translateX(5px) translateY(-5px);
}
header .mobile-nav-toggler {
  position: absolute;
  top: 25px;
  left: 20px;
  cursor: pointer;
  z-index: 999;
}
header .mobile-nav-toggler .mobile-nav-line {
  height: 2px;
  background: #F7F7F7;
  margin: 6px 0;
  transition: all 0.4s ease;
}
header .mobile-nav-toggler .first {
  width: 25px;
}
header .mobile-nav-toggler .second {
  width: 15px;
}
header .navigation {
  position: fixed;
  top: 0;
  left: 0;
  background: #0E0E0E;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
header .navigation ul {
  margin-top: 120px;
  width: 100%;
  text-align: center;
}
header .navigation ul .active-nav-item a {
  color: #F7F7F7;
  font-weight: bold;
}
header .navigation ul li {
  height: 100%;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 1.375em;
  transition: transform 0.4s ease;
  list-style: square;
}
header .navigation ul li a {
  transition: 0.4s color ease;
  position: relative;
  color: #F7F7F7;
}
header .navigation ul li a:hover {
  color: #01CCD9;
}
header .navigation ul li a::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #F7F7F7;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}
header .navigation .navigation-personal-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
header .navigation .navigation-personal-info-wrapper .seperator-line {
  width: 75%;
  position: relative;
  border-color: #999;
  margin-bottom: 20px;
  overflow: visible;
  border-radius: 1px;
}
header .navigation .navigation-personal-info-wrapper .personal-info {
  text-align: center;
  flex-basis: 60%;
  margin: 0 10px;
}
header .navigation .navigation-personal-info-wrapper .personal-info p {
  font-family: Arial, sans-serif;
  margin-bottom: 5px;
  color: #999;
}
header .navigation .navigation-personal-info-wrapper .navigation-socials {
  display: flex;
}
header .navigation .navigation-personal-info-wrapper .navigation-socials .navigation-social-container {
  text-align: center;
  margin: 10px;
}
header .navigation .navigation-personal-info-wrapper .navigation-socials .navigation-social-container svg {
  color: #F7F7F7;
  font-size: 1.5em;
  margin-bottom: 5px;
}
header .navigation .navigation-personal-info-wrapper .navigation-socials .navigation-social-container p {
  color: #999;
  font-size: 0.8em;
}
header .logo {
  position: absolute;
  top: 23px;
  right: 20px;
}
header .logo h3 {
  text-align: center;
  font-size: 0.75em;
  letter-spacing: -0.05em;
  font-weight: 400;
}
header .logo p {
  font-size: 0.5em;
  text-align: center;
}

.seperator div {
  margin: 10px 0;
  background: #FAFF00;
}
.seperator .line-1 {
  height: 1px;
  max-width: 45px;
  width: 40%;
}
.seperator .line-2 {
  height: 1px;
  max-width: 80px;
  width: 80%;
}

.seperator-big div {
  margin: 10px 0;
  background: #01CCD9;
}
.seperator-big .line-1 {
  height: 1px;
  width: 80px;
}
.seperator-big .line-2 {
  height: 1px;
  width: 140px;
}

.seperator-title {
  max-width: 200px;
  margin-left: 15px;
}
.seperator-title h1 {
  font-size: 1.5em;
}

.language-selection {
  width: 100%;
  background: #000;
  padding-top: 20px;
  position: relative;
}
.language-selection button {
  background: #111;
  color: #F7F7F7;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.language-selection button svg {
  font-size: 2em;
  margin-right: 10px;
}

.contact-section-wrapper {
  width: 100%;
  padding: 50px 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  text-align: center;
  display: none;
}
.contact-section-wrapper .contact-info {
  flex: 100%;
  margin-bottom: 20px;
}
.contact-section-wrapper .contact-info h1 {
  text-align: center;
  color: #F7F7F7;
  font-size: 2em;
  margin-bottom: 20px;
}
.contact-section-wrapper .contact-info .email-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.contact-section-wrapper .contact-info .email-container a {
  font-family: Arial, sans-serif;
  color: #01CCD9;
  font-weight: bold;
  font-size: 0.8em;
}
.contact-section-wrapper .contact-info .email-container .icon-container {
  margin: 10px;
  border-radius: 50px;
  border: 2px solid #01CCD9;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section-wrapper .contact-info .email-container .icon-container svg path {
  fill: #F7F7F7;
}
.contact-section-wrapper .contact-formular {
  flex: 100%;
}
.contact-section-wrapper .contact-formular input, .contact-section-wrapper .contact-formular label, .contact-section-wrapper .contact-formular textarea {
  max-width: 500px;
  width: 75%;
}
.contact-section-wrapper .contact-formular .input-container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-section-wrapper .contact-formular .input-container input {
  padding: 5px 0 5px 15px;
  color: #F7F7F7;
  background: transparent;
  border-bottom: 1px solid #333;
}
.contact-section-wrapper .contact-formular .input-container label {
  color: #01CCD9;
  text-align: left;
  font-size: 0.8em;
  padding: 0 0 5px 10px;
}
.contact-section-wrapper .contact-formular textarea {
  border-radius: 5px;
  padding: 10px;
  height: 152px;
  margin-top: 35px;
  resize: none;
  background: #111;
  border: 1px solid #333;
  color: #F7F7F7;
}
.contact-section-wrapper .contact-formular .contact-btn {
  background: rgba(0, 240, 255, 0.6);
  box-shadow: 0 0 0 0 rgba(0, 240, 255, 0.6);
  animation: pulse 1.25s infinite cubic-bezier(0, 0, 0, 0);
  cursor: pointer;
  padding: 5px 20px;
  font-size: 1em;
  display: block;
  margin: 15px auto;
  color: #F7F7F7;
  font-weight: bold;
}

.language-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
  display: none;
}
.language-modal-container .modal {
  width: 25%;
  width: 300px;
  background: #F7F7F7;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.language-modal-container .modal .close-modal-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #000;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
  transition: background-color 0.4s ease;
  padding: 3px 7px;
  border-radius: 50%;
  text-align: center;
}
.language-modal-container .modal .close-modal-btn:hover {
  background: #ddd;
}
.language-modal-container .modal h1 {
  font-family: Raleway;
  color: black;
  text-align: left;
  font-size: 1.25em;
  letter-spacing: -0.05em;
}
.language-modal-container .modal .options-container {
  margin: 30px 0 15px 0;
}
.language-modal-container .modal .options-container .show-options-btn, .language-modal-container .modal .options-container .language-option {
  padding: 10px 15px;
  cursor: pointer;
}
.language-modal-container .modal .options-container .show-options-btn {
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  background: #eee;
}
.language-modal-container .modal .options-container .show-options-btn svg {
  font-size: 1.5em;
  margin-right: 10px;
}
.language-modal-container .modal .options-container .language-option {
  transition: opacity 0.4s ease;
  opacity: 0;
  border-bottom: 1px solid #dfdfdf;
  background: #eee;
  display: none;
  transition: all 0.4s ease;
}
.language-modal-container .modal .options-container .language-option:hover {
  background: #bbb;
}
.language-modal-container .modal .options-container .show-options-btn::after {
  position: absolute;
  content: "";
  top: 17px;
  right: 20px;
  height: 5px;
  width: 5px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
}
.language-modal-container .modal .confirm-btn {
  color: #F7F7F7;
  background: #000;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8em;
  display: block;
  width: 100px;
  text-align: center;
  margin-left: 0;
  transition: all 0.4s ease;
  display: none;
}
.language-modal-container .modal .confirm-btn:hover {
  background-color: #F7F7F7;
  color: #008756;
  font-weight: bold;
}

footer {
  width: 100%;
  background: black;
  padding: 20px 0;
  position: relative;
}
footer .footer-seperator {
  width: 75%;
  max-width: 750px;
  margin: 0 auto 20px auto;
  border-color: #202020;
}
footer .footer-socials {
  margin-bottom: 10px;
  text-align: center;
  color: #F7F7F7;
}
footer .footer-socials h3 {
  margin-bottom: 15px;
}
footer .footer-socials .social-icons {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
footer .footer-socials .social-icons a {
  margin: 0 20px;
}
footer .footer-information {
  text-align: center;
}
footer .footer-information .tel-nr {
  font-family: Arial;
  margin-bottom: 15px;
  font-weight: lighter;
}
footer .footer-information p {
  font-size: 0.8em;
}
footer .footer-information a {
  font-size: 0.7em;
}

.scroll-down-indicator {
  position: absolute;
  left: 50%;
  bottom: 40px;
  height: 20px;
  width: 20px;
  transform: translateX(-50%) rotate(45deg);
}
.scroll-down-indicator span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-right: 2px solid #F7F7F7;
  border-bottom: 2px solid #F7F7F7;
  animation: scrollIndicator 1.5s linear infinite;
  opacity: 0;
}
.scroll-down-indicator span:nth-child(1) {
  transform: translate(-10px, -10px);
  animation-delay: -0.4s;
}
.scroll-down-indicator span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}
.scroll-down-indicator span:nth-child(3) {
  transform: translate(10px, 10px);
  animation-delay: 0s;
}

/* ========================================================= */
/*                      ANIMATIONS                           */
/* ========================================================= */
@keyframes scrollIndicator {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0;
    left: 0;
    opacity: 1;
  }
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}
/* Cursor-like animation for the Typewriter effect */
@keyframes cursor {
  50% {
    opacity: 0;
  }
}
@keyframes pulse {
  70% {
    box-shadow: 0 0 0 15px rgba(1, 204, 217, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(1, 204, 217, 0);
  }
}
@keyframes pulse2 {
  70% {
    box-shadow: 0 0 0 30px rgba(1, 204, 217, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(1, 204, 217, 0);
  }
}
/* ========================================================= */
/*                      MEDIA QUERIES                        */
/* ========================================================= */
@media (min-width: 350px) {
  .contact-section-wrapper .contact-info .email-container a {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .container {
    width: 90%;
  }

  .bg-points {
    width: 110px;
    height: 110px;
  }

  header .mobile-nav-toggler {
    display: none;
  }
  header .logo {
    position: absolute;
    top: 15px;
    right: 5%;
  }
  header .logo h3 {
    width: 200px;
    text-align: center;
    font-size: 1.25em;
  }
  header .logo p {
    font-size: 0.7em;
    width: 200px;
    text-align: center;
  }
  header .navigation {
    position: relative;
    display: block;
  }
  header .navigation ul {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 5%;
    margin-top: 0;
  }
  header .navigation ul .active-nav-item {
    background-color: rgba(1, 204, 217, 0.25);
    border-bottom: 3px solid #01CCD9;
  }
  header .navigation ul .active-nav-item a {
    color: #F7F7F7;
  }
  header .navigation ul li {
    font-size: 1em;
    display: flex;
    align-items: center;
  }
  header .navigation ul li a::after {
    display: none;
  }
  header .navigation .navigation-personal-info-wrapper {
    display: none;
  }
}
@media (min-width: 1080px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .bg-points {
    width: 175px;
    height: 175px;
  }

  .contact-section-wrapper .contact-info {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-section-wrapper .contact-info h1 {
    font-size: 3em;
  }
  .contact-section-wrapper .contact-formular {
    flex: 50%;
    display: flex;
  }
  .contact-section-wrapper .contact-formular form {
    display: flex;
    width: 100%;
  }
  .contact-section-wrapper .contact-formular input, .contact-section-wrapper .contact-formular label {
    width: 100%;
  }
  .contact-section-wrapper .contact-formular .inputs-wrapper {
    margin: 0 20px;
  }
  .contact-section-wrapper .contact-formular .inputs-wrapper input {
    width: 200px;
  }
  .contact-section-wrapper .contact-formular .message-input-wrapper {
    margin: 0 20px;
    width: 50%;
    max-width: 500px;
  }
  .contact-section-wrapper .contact-formular .message-input-wrapper textarea {
    width: 100%;
  }
}
@media (min-width: 1540px) {
  .bg-points {
    width: 175px;
    height: 175px;
  }

  .container {
    width: 50%;
  }
}

/*# sourceMappingURL=compiled.css.map */
