@import 'utility/variables';

.about-wrapper {
    background-color: #3b3b3b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%233b3b3b' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23383838' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23353535' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23313131' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%232e2e2e' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%232b2b2b' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23282828' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23252525' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23222222' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%231f1f1f' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%231c1c1c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23191919' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23161616' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23131313' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%230f0f0f' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%230b0b0b' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23050505' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    padding-top: 200px;
}


.timeline {
    position: relative;
    height: 500px;
    margin: 100px 0;

    .timeline-item-container {
        position: relative;
        margin: 50px 0 50px 80px;
        top: 90px;
        padding-left: 10px;

        .timeline-item {
            h2 { font-size: 1.25em; margin-bottom: 5px; }
            h3 { font-size: 1em; font-weight: lighter; }
        }
    }

    .timeline-item-container::after {
        content: '';
        position: absolute;
        height: 40px;
        width: 40px;
        top: 0;
        left: -69px;
        border-radius: 50%;
        background: $bright-purple;
        z-index: 2;
        border: 4px solid $dark-purple;
    }

    .timeline-item-container::before {
        content: '';
        position: absolute;
        height: 0px;
        width: 0px;
        top: 8px;
        left: -15px;
        border: medium solid red;
        border-width: 13px 15px 13px 0;
        border-color: transparent $bright-purple transparent transparent;
    }
}

.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    height: 450px;
    width: 10px;
    background: $sky-blue;
    border-radius: 5px;
}

.tech-stack {
    margin: 0px 0;
    display: flex;
    justify-content: flex-start;
    transform-style: preserve-3d;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 100px 0;

    .tech-item-container {
        height: 100%;
        width: 70px;
        transform: rotate(-20deg);
        flex-basis: 50%;
        margin: 25px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 { font-size: 1em; }

        .tech-item {
            height: 70px;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin-bottom: 10px; 
            position: relative;
            -webkit-box-shadow: -2px 3px 9px 2px rgba(0,0,0,1);
            -moz-box-shadow: -2px 3px 9px 2px rgba(0,0,0,1);
            box-shadow: -2px 3px 9px 2px rgba(0,0,0,1);
    
            .tech-item-image {
                height: 50px;
                width: 50px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
            }
            
            .html5 { background-image: url('/assets/img/HTML5.svg'); }
            .css { background-image: url('/assets/img/CSS3.svg'); }
            .js { background-image: url('/assets/img/JavaScript.svg'); }
            .java { background-image: url('/assets/img/Java.svg'); }
            .python { background-image: url('/assets/img/Python.svg'); }
            .mongodb { background-image: url('/assets/img/mongodb.svg'); }
            .sql { background-image: url('/assets/img/mysql.svg'); }
            .git { background-image: url('/assets/img/git.svg'); }

            span {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                background: $dark-white;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 30px;
                transition: 1.5s ease-out;
                border-radius: 10px;
            }
        }

        .tech-item:hover span {
            z-index: 1000;
            transition: .3s;
            color: #fff;
        }

        .tech-item:hover span:nth-child(4) {
            transform: translate(15px, -15px);
            opacity: 1;
        }

        .tech-item:hover span:nth-child(3) {
            transform: translate(10px, -10px);
            opacity: .3;
        }

        .tech-item:hover span:nth-child(2) {
            transform: translate(5px, -5px);
            opacity: .2;
        }

        .tech-item:hover span:nth-child(1) {
            transform: translate(0px, 0px);
            opacity: .1;
        }        
    }
}