@import 'utility/variables';

.about-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    position: relative;

    .timeline-img-container {
        width: 100%;
        min-height: 436px;
        background-image: url('/assets/img/time-2-min.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    .personal-img-container {
        width: 75%;
        background: #4B4B4B;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 5px;
        display: flex;
        align-items: center;
        box-shadow: 4px 4px 250px rgba(0, 0, 0, 0.5);
        max-width: 250px;
        max-height: 250px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .timeline-container {
        width: 100%;
        background-color: $black;
        background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
        padding: 100px 20px;
        position: relative;
        

        .timeline {
            margin: 50px 0;
            position: relative;

            .timeline-item {
                margin: 30px 0 30px 80px;
                position: relative;

                h2 { margin: 10px 0 5px 0; font-size: 1.1em; }
                p { font-size: 1em; }
        
                .item-icon {
                    background: #262626;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: -79px;
                    transform: translateY(-50%);
                    border: 2px solid $dark-white;

                    svg { color: $dark-white; }
                }

                .timestamp {
                    font-weight: bold;
                    border-radius: 10px;
                    padding: 3px 10px;
                    font-size: 0.75em;
                    border: 2px solid #01CCD9;
                    background: transparent;
                    color: $dark-white;
                }
            }

            // This prints the arrow that points to the items timeline circle
            .timeline-item::after {
                content: '';
                position: absolute;
                top: 50%;
                left: -30px;
                border: medium solid $sky-blue;
                border-width: 13px 15px 13px 0;
                border-color: transparent $sky-blue transparent transparent;
                transform: translateY(-50%);
            }
        }

        // This prints the actual timeline
        .timeline::before {
            content: '';
            width: 4px;
            height: 400px;
            background: #eee;
            position: absolute;
            left: 20px;
            border-radius: 5px;
        }
    }
}

.techstack-wrapper {
    height: 100%;
    width: 100%;
    background: $dark-white;
    padding-top: 70px;

    .tech-intro {
        padding-bottom: 100px;
        min-height: 300px;

        h1 { color: $black; font-family: $headingFont; font-size: 2em; }
    }

    .wave-container { position: relative; }

    .techstack-container {
        display: flex;
        flex-wrap: wrap;
        background: #EEE;

        .techstack-item {
            height: 100px;
            width: 100%;
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .techstack-img {
                height: 50px;
                width: 100px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(100%); 
            }
        }
    }
}

.techstack-item:nth-of-type(1) { border-right: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf;  }
.techstack-item:nth-of-type(2) { border-right: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; }
.techstack-item:nth-of-type(3) { border-right: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; }
.techstack-item:nth-of-type(4) { border-right: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; }
.techstack-item:nth-of-type(5) { border-right: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; }
.techstack-item:nth-of-type(6) { border-right: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; }
.techstack-item:nth-of-type(7) { border-right: 1px solid #dfdfdf; }
.techstack-item:nth-of-type(8) { border-right: 1px solid #dfdfdf; }


.html5 { background-image: url('/assets/img/HTML5.svg'); }
.css3 { background-image: url('/assets/img/CSS3.svg'); }
.js { background-image: url('/assets/img/JavaScript.svg'); }
.java { background-image: url('/assets/img/Java.svg'); }
.python { background-image: url('/assets/img/Python.svg'); }
.mongodb { background-image: url('/assets/img/mongodb.svg'); }
.sql { background-image: url('/assets/img/mysql.svg'); }
.git { background-image: url('/assets/img/git.svg'); }


/* ========================================================= */
/*                      MEDIA QUERIES                        */
/* ========================================================= */

@media (min-width: 768px) {
    .about-wrapper { 
        flex-direction: row;
        flex-wrap: wrap;

        .timeline-img-container {
            flex-basis: 40%;

            .scroll-down-indicator { display: none; }

            .personal-img-container {
                left: 100%;
                z-index: 1;
            }
        }

        .timeline-container {
            flex-basis: 60%;
            padding: 100px 20px 20% 20px;

            h1 { font-size: 3em; }

            .timeline {
                margin-left: 100px;

                .timeline-item { max-width: 100%; }
            }

            .timeline::before {
                left: 20px;
            }
        }
    }
}


@media (min-width: 1200px) {
    .about-wrapper .timeline-container .timeline .timeline-item {
        h2 { font-size: 1.3em; }
        p { font-size: 1em; }
    }

    .techstack-wrapper {
        .techstack-container {
            .techstack-item {
                flex-basis: 25%;
                height: 150px;

                .techstack-img {
                    height: 75px;
                    width: 125px;
                }
            }
        }
    }
}

@media (min-width: 1540px) {
    .about-wrapper {
        .timeline-img-container .personal-img-container {
            max-height: 350px;
            max-width: 350px;
        }
        .timeline-container {
            h1 { font-size: 4em; }

            .timeline { 
                margin-top: 100px; 
    
                .timeline-item {
                    margin-top: 50px;
                    margin-bottom: 50px;
    
                    h2 { font-size: 1.5em; }
                    p { font-size: 1.25em; }
                }
            }
        }
    }

    .techstack-wrapper {
        .tech-intro h1 { font-size: 2.5em; }

        .techstack-container {
            .techstack-item { 
                height: 200px; 

                .techstack-img { height: 90px; width: 150px; }
            }
        }
    }
}