@import 'utility/_variables.scss';

.welcome-wrapper {
    width: 100%;
    height: 100%;
    background: url('/assets/img/welcome-bg-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: calc(70px + 10vh);
    padding-bottom: 30vh;
    padding-left: 5%;
    padding-right: 5%;
    max-height: 1000px;
}

.welcome-section {
    display: flex;
    position: relative;
    max-width: 350px;

    .heading-big {
        h1 {
            font-size: 6em;
            color: $sky-blue;
            text-shadow: 0px 4px 4px #0C0000;
            display: inline-block;
        }
    }

    .heading-small {
        h2 {
            font-size: 2.25em;
            text-shadow: 0px 4px 4px #0C0000;
            padding-top: 20px;
            line-height: 0.8em;
            font-weight: 400;
        }

        h3 {
            font-size: 3.25em;
            text-shadow: 0px 4px 4px #0C0000;
            line-height: 0.8em;
        }
    }
}

.contact-section {
    max-width: 400px;
    margin: 50px 0 0 30px;

    p { 
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 20px; 
    }
}

.intro-section {
    margin-top: 100px;
    position: relative;
    border-bottom-right-radius: 50px;
    background: $dark-white;

    .welcome-heading {
        font-size: 3em;
        text-align: left;
        color: #eeeeee;
        font-family: Raleway;
        padding-left: 10%;
        margin-bottom: 10px;
        letter-spacing: -0.1em;
        font-weight: 400;
    }

    .intro-content-container {
        .intro-content {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            
            .prev-heading-wrapper { margin-bottom: 10px; }
            .intro-heading {
                h1 { 
                    color: $brighter-black;
                    font-weight: 400;
                    letter-spacing: -0.05em;
                    font-family: Raleway;
                    font-size: 2em;
                }
            }

            .intro-text {
                padding: 30px;
                margin-bottom: 50px;
                max-width: 600px;

                p { color: $light-gray; position: relative; padding-top: 10px; text-align: justify;}
            }

            .intro-text p::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 2px;
                background: $brighter-black;
            }
        }
    }
}

.intro-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background: #0E0E0E;
    opacity: 1;
    z-index: -1;
}

.offers-wrapper {
    position: relative;
    border-top-left-radius: 50px;
    width: 100%;
    background: #0E0E0E;
    padding: 60px 40px;

    .offers-heading {
        color: rgba(211,211,211,0.25);
        font-size: 3em;
        text-align: right;
        letter-spacing: -0.1em;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .offers-intro { margin-bottom: 25px; }

    .offers {
        border-top: 3px solid $sky-blue;
        padding-top: 30px;
        padding-left: 30px;

        .offer-item {
            color: $light-gray;
            font-weight: 400;
            position: relative;
            display: inline-block;
            margin: 3px 22px;
        }

        .offer-item::after {
            content: '';
            height: 5px;
            width: 5px;
            background: $dark-white;
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.offers-wrapper::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    height: 50px;
    width: 50px;
    background: $dark-white;
    z-index: -1;
}

.offers-wrapper::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 80%;
    top: 25px;
    right: 0;
    background: $light-gray;
    z-index: -1;
}

.props-heading {
    color: #eee;
    font-size: 3em;
    text-align: left;
    padding-left: 10%;
    letter-spacing: -0.1em;
    font-weight: 400;
    margin: 50px 0 20px 0;
}

.props-wrapper {
    width: 100%;
    position: relative;
    background: $dark-white;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .props-image-container {
        width: 100%;
        height: 300px;
        background: url('/assets/img/skyscrapers.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        display: flex;
    }

    .props-content-container {
        width: 100%;
        min-height: 300px;
        background: $dark-white;

        .services-headline-container {
            display: flex; 
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            padding: 0 20px;

            .services-headline {
                font-family: Raleway;
                color: $light-gray;
                font-size: 1.25em;
                text-align: center;
                background: $dark-white;
                text-transform: uppercase;
                margin: 0 10px;
            }

            hr {
                width: 20px;
                height: 1px; 
                background-color: $light-gray;
            }
        }

        .props {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

            .prop-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                margin: 20px 0;
                max-width: 500px;

                .icon-container {
                    margin-bottom: 30px; 
                    position: relative;

                    svg { font-size: 3em; color: $dark-gray; color: #7ca6d4; }
                }

                h3 { font-size: 1.5em; margin-bottom: 10px; text-align: center; letter-spacing: -1.25px; }
                h3,p { color: $black; color: $dark-gray; z-index: 1; padding: 0 30px; }
                p { margin-top: 5px; text-align: center; }


                .decorator-top-left {
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-left: 2px solid $light-gray;
                    border-top: 2px solid $light-gray;
                    position: absolute;
                    top: -20px;
                    left: -20px;
                }

                .decorator-bottom-right {
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-bottom: 2px solid $light-gray;
                    border-right: 2px solid $light-gray;
                    position: absolute;
                    bottom: -20px;
                    right: -20px;
                }

                .seperator {
                    width: 50%;
                    height: 1px;
                    margin: 30px auto;
                    background: #EAEAEA;
                }
            }
        }
    }

    .props-points-decorator {
        position: absolute;
        top: -170px;
        right: 15px;
    }
}

/* ========================================================= */
/*                      MEDIA QUERIES                        */
/* ========================================================= */

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    // iOS doesnt support background-attachment:fixed with background-size:cover combined, so fallback to scroll
    .welcome-wrapper {
        background-attachment: scroll;
    }
}

@media (min-width: 350px) {
    .intro-section .welcome-heading,
    .offers-wrapper .offers-heading,
    .props-heading { font-size: 4em; }
}


@media (min-width: 480px) {
    .welcome-section {
        .heading-big h1 {
            font-size: 8em;
        }

        .heading-small h2 {
            font-size: 3em;
            padding-top: 22px;
        }

        .heading-small h3 {
            font-size: 5em;
        }
    }

    .intro-section .intro-content-container .intro-content .intro-heading h1 { font-size: 3em; }

    .offers-wrapper .offers-heading,
    .props-heading { font-size: 5em; }

    .props-wrapper .props-content-container .props {
        .prop-item { 
            flex-basis: 50%; 

            p { text-align: justify; }
        }
    }
}

@media (min-width: 768px) {
    .welcome-wrapper { background-attachment: fixed; padding-left: 10%; padding-right: 10%; }

    .welcome-section {
        .heading-big h1 {
            font-size: 10em;
        }

        .heading-small h2 {
            font-size: 3.25em;
            padding-top: 30px;
        }

        .heading-small h3 {
            font-size: 6.5em;
        }
    }

    .intro-section {
        .intro-content-container {
            .intro-content {
                .intro-heading {
                    h1 {
                        font-size: 3.5em;
                    }
                }
            }
        }
    }

    .offers-wrapper .offers-intro { font-size: 2.5em; }

    .props-wrapper {
        margin-top: calc(20px + 250px);

        .props-image-container { 
            height: 500px;
            width: 75%;
            position: absolute;
            top: -250px;
        }

        .props-content-container {
            width: 75%;
            margin-left: auto;
            z-index: 1;
            position: relative;

            .services-headline-container { margin-top: 50px; }
        }

        .props-content-container::before {
            content: '';
            height: 75px;
            width: 7px;
            background: $dark-gray;
            z-index: 1;
            border-radius: 2px;
            position: absolute;
            top: -90px;
            right: calc(20% - 2px);
        }

        .props-content-container::after {
            content: '';
            height: 150px;
            width: 3px;
            background: $light-gray;
            position: absolute;
            top: -130px;
            right: 20%;
        }

        .props-points-decorator { top: -400px; }
    }
}

@media (min-width: 1080px) {
    .welcome-section {
        .heading-big h1 {
            font-size: 12em;
        }

        .heading-small h2 {
            font-size: 3.5em;
            padding-top: 37px;
        }

        .heading-small h3 {
            font-size: 7.5em;
        }
    }

    .intro-section .intro-content-container .intro-content .intro-heading h1 { font-size: 4em; }

    .offers-wrapper .offers-heading, 
    .props-heading { font-size: 7em; }

    .offers-wrapper {
        .decorator-line-thin, .decorator-line-thick {
            position: absolute;
            display: block; 
        }

        .decorator-line-thin {
            height: 350px;
            width: 2px;
            background: $light-gray;
            top: -225px;
            left: 10%;
        }

        .decorator-line-thick {
            height: 150px;
            width: 6px;
            background: $dark-gray;
            top: -125px;
            left: calc(10% - 2px);
        }
    }

    .props-wrapper {
        margin-top: calc(20px + 400px);

        .props-image-container { 
            height: 800px;
            top: -400px;
        }

        .props-content-container .props  {
            padding: 0 30px;

            .prop-item { flex-basis: 33.3%; }
        }

        .props-content-container::before {
            height: 125px;
            background: $dark-gray;
            top: -116px;
            right: calc(20% - 2px);
        }

        .props-content-container::after {
            height: 250px;
            top: -180px;
            right: 20%;
        }

        .props-points-decorator { top: -550px; }
    }
}

@media (min-width: 1200px) {
    .props-wrapper {
        .props .prop { flex: calc(33.3% - 50px); }

        .props-points-decorator { top: -600px; }
    }

    .intro-section {
        .welcome-heading { font-size: 8.5em; }
    }
}

@media (min-width: 1540px) {
    .welcome-section {
        .heading-big h1 {
            font-size: 13em;
        }

        .heading-small h2 {
            font-size: 4.5em;
            padding-top: 42px;
        }

        .heading-small h3 {
            font-size: 8em;
        }
    }

    .offers-wrapper .offers-intro { font-size: 4em; }

    .intro-section {
        .welcome-heading { font-size: 10em; margin-bottom: 100px; }
        .intro-image-container {
            .intro-image-points-decorator { top: calc(100% + 60px); left: 5%; }
        }

        .intro-content-container {
            .intro-content {
                .intro-heading {
                    h1 { font-size: 5em; }
                }
            }
        }
    }

    .props-heading { margin-top: 100px; }
    .props-wrapper .props-points-decorator { top: -630px; right: 5%; }
}