@import 'utility/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.welcome-wrapper {
    width: 100%;
    height: 100%;
    min-height: 1000px;
    background: url('/assets/img/welcome-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    position: relative;
}

.welcome-section {
    display: flex;
    position: relative;
    max-width: 350px;

    .heading-big {
        h1 {
            font-size: 6em;
            color: $sky-blue;
            text-shadow: 0px 4px 4px #0C0000;
            display: inline-block;
        }
    }

    .heading-small {
        h2 {
            font-size: 2.25em;
            text-shadow: 0px 4px 4px #0C0000;
            padding-top: 20px;
            line-height: 0.8em;
        }

        h3 {
            font-size: 3.25em;
            text-shadow: 0px 4px 4px #0C0000;
            line-height: 0.8em;
        }
    }
}

.contact-section {
    max-width: 400px;
    margin: 100px 0 0 30px;

    p { 
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 20px; 
    }
}

.props-wrapper {
    width: 100%;
    position: relative;
    background-color: $black;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    padding: 50px 0 150px 0;

    .props {
        display: flex;
        justify-content: center;
        flex-flow: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        
        .prop {
            margin: 20px;
            flex-basis: 80%;

            .icon-container {
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                border: 2px solid #008756;
                border-radius: 50%;
                margin: 10px auto;

                svg {
                    display: flex;
                    margin: 0 auto;
                    height: 30px;
                    width: 30px;
                    
                    path { fill: #F7F7F7; }
                }    
            }

            h1 {
                text-align: center;
                font-size: 1.6em;
                margin-bottom: 5px;
                max-width: 80%;
                margin: 0 auto 10px auto;
            }

            p { 
                text-align: center;
                border-left: 6px solid $dark-green;
                padding: 0 20px;
                line-height: 1.5em;
            }
        }
    }

    

    .devices-img {
        width: auto;
        height: 150px;
        position: absolute;
        bottom: -50px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
    }
}

.offers-wrapper {
    width: 100%;
    background: $dark-white;
    padding: 50px 0 150px 0;

    h1 { 
        color: $black;
        padding-top: 20px;
        font-family: Lobster;
    }

    .offers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0;
        padding: 0 4px;

        .offer {
            max-width: 400px;
            flex: 100%;
            margin: 10px;
            border-radius: 5px;
            position: relative;
            border: 2px solid #ddd;

            .content {
                h3 { 
                    color: $dark-white;
                    text-align: center;
                    background: #1c1c1c;
                    padding: 10px 30px;
                    color: #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    font-size: 1em;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }
    
                img {
                    vertical-align: middle;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}



/* ========================================================= */
/*                      MEDIA QUERIES                        */
/* ========================================================= */

@media (min-width: 480px) {
    .welcome-section {
        .heading-big h1 {
            font-size: 7em;
        }

        .heading-small h2 {
            font-size: 2.25em;
            padding-top: 22px;
        }

        .heading-small h3 {
            font-size: 4em;
        }
    }

    .offers-wrapper {
        h1 {
            font-size: 2.5em;
        }
    }
}

@media (min-width: 600px) {
    .props-wrapper {
        padding: 50px 0 250px 0;

        .devices-img {
            height: 250px;
        }
    }
}

@media (min-width: 768px) {
    .welcome-section {
        .heading-big h1 {
            font-size: 8em;
        }

        .heading-small h2 {
            font-size: 3.25em;
        }

        .heading-small h3 {
            font-size: 4.25em;
        }
    }

    .offers-wrapper {
        .offers .offer {
            flex: calc(50% - 30px);
        }

        h1 { font-size: 3em; }
    }

    .props-wrapper .props .prop {
        flex-basis: 70%;
    }
}

@media (min-width: 1200px) {
    .welcome-section {
        .heading-big h1 {
            font-size: 10em;
        }

        .heading-small h2 {
            font-size: 3.5em;
            padding-top: 32px;
        }

        .heading-small h3 {
            font-size: 6em;
        }
    }

    .props-wrapper {
        padding: 50px 0 350px 0;

        .devices-img { height: 350px; }
        .props .prop { flex: calc(50% - 40px); }
    }

    .contact-section-wrapper {
        .contact-info { 
            h1 { font-size: 3em; }

            flex: 50%; 
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .contact-formular { 
            flex: 50%; 
            display: flex;

            form {
                display: flex;
                width: 100%;
            }

            input,label { width: 100%; }

            .inputs-wrapper {
                margin: 0 20px;

                input {
                    width: 200px;
                }
            }

            .message-input-wrapper {
                margin: 0 20px;
                width: 50%;
                max-width: 500px;

                textarea { width: 100%; }
            }
        }
    }
}

@media (min-width: 1540px) {
    .welcome-section {
        .heading-big h1 {
            font-size: 12em;
        }

        .heading-small h2 {
            font-size: 4em;
            padding-top: 37px;
        }

        .heading-small h3 {
            font-size: 7.5em;
        }
    }

    .props-wrapper {
        padding: 50px 0 550px 0;

        .devices-img { height: 550px; }

        .props {
            .prop {
                flex-basis: 25%;
            }
        }
    }

    .offers-wrapper {
        .offers .offer {
            flex: calc(25% - 30px); 

            .content img {
                min-height: 250px;;
            }
        }
    }
}