/* Partials */

/* Library-related CSS as .scss */
@use '_gliderjs.scss';
/*                              */

/* CSS for views */
@use '_index.scss';
@use '_about.scss';
@use '_portfolio.scss';
@import 'utility/_variables.scss';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap');


/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    height: 100%;
    min-width: 300px;
    background: $dark-white;
}

.transition-container {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none; 
    background: #000;
}

.bg-points {
    background-image: url('/assets/img/points-decorator.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 100px;
}

.decorator-line {
    width: 33%;
    height: 2px;
    max-width: 300px;
    background: $light-gray;
}

.no-letter-spacing { letter-spacing: normal; }
h1,h2,h3,h4,h5,p,a { color: $dark-white; }
h1,h2,h3,h4,h5 { letter-spacing: -0.05em; }
li { list-style: none; }
a { text-decoration: none; }
input, button, textarea {
    outline: none;
    border: none;
}

.blurred { filter: blur(8px);  }
.colored { color: $sky-blue; }
.revealable { opacity: 0; will-change: transform; }

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.typewriter {
    position: relative;
}

.typewriter::after {
    content: '';
    border-right: 2px solid;
    border-color: inherit;
    animation: cursor 1s step-start 0s infinite;
    margin-left: 4px;
}

.heading-line {
    width: 33%;
    max-width: 50px;
    min-width: 30px;
    height: 1px;
    margin-left: 10px;
    margin-top: 0.000125em;
    background: $light-gray;
}

.page-wrapper {
    position: relative;
}

header {
    width: 100%;
    height: 70px;
    background: rgba(0,0,0,1);
    position: fixed;
    top: 0;
    z-index: 2;

    .mobile-nav-active {
        .first { 
            transform: rotate(45deg);
        }
        .second { 
            width: 25px!important;
            transform: rotate(-45deg) translateX(5px) translateY(-5px);
        }
    }

    .mobile-nav-toggler {
        position: absolute;
        top: 25px;
        left: 20px;
        cursor: pointer;
        z-index: 999;

        .mobile-nav-line { 
            height: 2px; 
            background: $dark-white; 
            margin: 6px 0;
            transition: all 0.4s ease;
        }

        .first { width: 25px; }
        .second { width: 15px; }
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        background: #0E0E0E;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: none;
        
        ul {
            margin-top: 120px;
            width: 100%;
            text-align: center;

            .active-nav-item a {
                color: $dark-white;
                font-weight: bold;
            }

            li {
                height: 100%;
                padding: 10px 20px;
                margin: 20px 0;
                font-size: 1.375em;
                transition: transform 0.4s ease;
                //font-weight: bold;
                list-style: square;

                a { transition: 0.4s color ease; position: relative; color: $dark-white; }
                a:hover { color: $sky-blue; }

                a::after {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background: $dark-white;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-50%);
                }
            }
        }
        
        .navigation-personal-info-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 50px;

            .seperator-line {
                width: 75%;
                position: relative;
                border-color: $light-gray;
                margin-bottom: 20px;
                overflow: visible;
                border-radius: 1px;
            }


            .personal-info {
                text-align: center;
                flex-basis: 60%;
                margin: 0 10px;

                p { 
                    font-family: Arial, sans-serif; 
                    margin-bottom: 5px; 
                    color: $light-gray;
                }
            }
            
            .navigation-socials {
                display: flex;

                .navigation-social-container {
                    text-align: center;
                    margin: 10px;
    
                    svg { 
                        color: $dark-white; 
                        font-size: 1.5em; 
                        margin-bottom: 5px;
                    }

                    p { 
                        color: $light-gray;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }

    .logo {
        position: absolute;
        top: 23px;
        right: 20px;
    
        h3 {  text-align: center; font-size: 0.75em; letter-spacing: -0.05em; font-weight: 400; }
        p { font-size: 0.5em; text-align: center; }
    }
}

.seperator {
    div { margin: 10px 0; background: $sunny-yellow; }
    .line-1 {
        height: 1px;
        max-width: 45px;
        width: 40%;
    }

    .line-2 {
        height: 1px;
        max-width: 80px;
        width: 80%;
    }
}

.seperator-big {
    div { margin: 10px 0; background: $sky-blue; }
    .line-1 {
        height: 1px;
        width: 80px;
    }
    .line-2 {
        height: 1px; width: 140px;
    }
}

.seperator-title {
    max-width: 200px;
    margin-left: 15px;

    h1 {
        font-size: 1.5em;
    }
}

.language-selection {
    width: 100%;
    background: $black;
    padding-top: 20px;
    position: relative;

    button {
        background: #111;
        color: $dark-white;
        cursor: pointer;
        padding: 5px 10px;
        margin: 0 auto;
        border-radius: 5px;
        display: flex;
        align-items: center;

        // Language icon
        svg { font-size: 2em; margin-right: 10px; }
    }
}

.contact-section-wrapper {
    width: 100%;
    padding: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: $black;
    text-align: center;
    display: none; // TODO: Redesign this

    .contact-info {
        flex: 100%;
        margin-bottom: 20px;

        h1 {
            text-align: center;
            color: $dark-white;
            font-size: 2em;
            margin-bottom: 20px;
        }

        .email-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;

            a { font-family: Arial, sans-serif; color: $sky-blue; font-weight: bold; font-size: 0.8em; }

            .icon-container {
                margin: 10px;
                border-radius: 50px;
                border: 2px solid $sky-blue;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                svg path { fill: $dark-white; }
            }
        }
    }

    .contact-formular {
        flex: 100%;

        input, label, textarea {
            max-width: 500px;
            width: 75%;
        }

        .input-container {
            margin: 15px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input { 
                padding: 5px 0 5px 15px;
                color: $dark-white;
                background: transparent;
                border-bottom: 1px solid #333;
            }
    
            label {
                color: $sky-blue;
                text-align: left;
                font-size: 0.8em;
                padding: 0 0 5px 10px;
            }
        }

        textarea {
            border-radius: 5px;
            padding: 10px;
            height: 152px;
            margin-top: 35px;
            resize: none;
            background: #111;
            border: 1px solid #333;
            color: $dark-white;
        }

        .contact-btn {
            background: rgba(0, 240, 255, 0.6);
            box-shadow: 0 0 0 0 rgba(0, 240, 255, 0.6);
            animation: pulse 1.25s infinite cubic-bezier(0,0,0,0);
            cursor: pointer;
            padding: 5px 20px;
            font-size: 1em;
            display: block;
            margin: 15px auto;
            color: $dark-white;
            font-weight: bold;
        }
    }
}

.language-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.75);
    display: none;

    .modal {
        width: 25%;
        width: 300px;
        background: $dark-white;
        border-radius: 10px;
        padding: 20px;
        position: relative;

        .close-modal-btn { 
            position: absolute;
            top: 15px;
            right: 20px;
            color: $black;
            font-weight: bold;
            font-size: 1.25em;
            cursor: pointer;
            transition: background-color .4s ease;
            padding: 3px 7px;
            border-radius: 50%;
            text-align: center;
        }

        .close-modal-btn:hover { background: #ddd; }
        h1 { 
            font-family: Raleway; 
            color: black; 
            text-align: left;
            font-size: 1.25em;
            letter-spacing: -0.05em;
        }

        .options-container {
            margin: 30px 0 15px 0;

            .show-options-btn, .language-option {
                padding: 10px 15px;
                cursor: pointer;
            }

            .show-options-btn {
                display: flex;
                align-items: center;
                text-align: left;
                position: relative;
                background: #eee;

                svg { font-size: 1.5em; margin-right: 10px; }
            }

            .language-option { 
                transition: opacity 0.4s ease; 
                opacity: 0; 
                border-bottom: 1px solid #dfdfdf; 
                background: #eee;  
                display: none;
                transition: all 0.4s ease;
            }

            .language-option:hover {
                background: #bbb;
            }

            .show-options-btn::after {
                position: absolute;
                content: '';
                top: 17px;
                right: 20px;
                height: 5px;
                width: 5px;
                border-bottom: 2px solid black;
                border-right: 2px solid black;
                transform: rotate(45deg);
            }
        }

        .confirm-btn {
            color: $dark-white;
            background: $black;
            padding: 10px;
            border-radius: 5px;
            font-size: 0.8em;
            display: block;
            width: 100px;
            text-align: center;
            margin-left: 0;
            transition: all .4s ease;
            display: none;
        }


        .confirm-btn:hover { background-color: $dark-white; color: $dark-green; font-weight: bold; }
    }
}

footer {
    width: 100%;
    background: rgba(0,0,0,1);
    padding: 20px 0;
    position: relative;

    .footer-seperator { 
        width: 75%;
        max-width: 750px;
        margin: 0 auto 20px auto;
        border-color: #202020;
    }

    .footer-socials {
        margin-bottom: 10px;
        text-align: center;
        color: $dark-white;

        h3 { margin-bottom: 15px; }

        .social-icons {
            margin-bottom: 25px;
            display: flex;
            justify-content: center;

            a { margin: 0 20px; }
        }
    }

    .footer-information {
        text-align: center;
        .tel-nr {
            font-family: Arial; 
            margin-bottom: 15px; 
            font-weight: lighter;
        }
        
        p { font-size: 0.8em; }
        a { font-size: 0.7em; }
    }
}

.scroll-down-indicator {
    position: absolute;
    left: 50%;
    bottom: 40px;
    height: 20px;
    width: 20px;
    transform: translateX(-50%) rotate(45deg);

    span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-right: 2px solid $dark-white;
        border-bottom: 2px solid $dark-white;
        animation: scrollIndicator 1.5s linear infinite;
        opacity: 0;
    }

    span:nth-child(1) { 
        transform: translate(-10px, -10px); 
        animation-delay: -0.4s;
    }
    span:nth-child(2) { 
        transform: translate(0,0); 
        animation-delay: -0.2s;
    }
    span:nth-child(3) { 
        transform: translate(10px, 10px); 
        animation-delay: 0s;
    }
}

/* ========================================================= */
/*                      ANIMATIONS                           */
/* ========================================================= */
@keyframes scrollIndicator {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25% {
        top: 0;
        left: 0;
        opacity: 1;
    }
    100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

/* Cursor-like animation for the Typewriter effect */
@keyframes cursor {
    50% {
        opacity: 0.0
    }
}

// Animation for the contact button
@keyframes pulse {
    70% {
      box-shadow: 0 0 0 15px rgba(#01CCD9, 0);
    }
      100% {
      box-shadow: 0 0 0 0 rgba(#01CCD9, 0);
    }
}

// Animation for the contact button
@keyframes pulse2 {
    70% {
        box-shadow: 0 0 0 30px rgba(#01CCD9, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(#01CCD9, 0);
    }
}


/* ========================================================= */
/*                      MEDIA QUERIES                        */
/* ========================================================= */

@media (min-width: 350px) {
    .contact-section-wrapper .contact-info .email-container a {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }

    .bg-points {
        width: 110px;
        height: 110px;
    }

    header {
        .mobile-nav-toggler { display: none; }

        .logo {
            position: absolute;
            top: 15px;
            right: 5%;
        
            h3 { width: 200px; text-align: center; font-size: 1.25em; }
            p { font-size: 0.7em; width: 200px; text-align: center; }
        }

        .navigation {
            position: relative;
            display: block;
    

            ul {
                position: relative;
                left: 0;
                top: 0;
                transform: none;
                display: flex;
                align-items: center;
                height: 100%;
                margin-left: 5%;
                margin-top: 0;

                .active-nav-item {
                    background-color: $alpha-sky-blue-25;
                    border-bottom: 3px solid $sky-blue;
        
                    a { color: $dark-white; }
                }
                
                li { 
                    font-size: 1em; 
                    display: flex;
                    align-items: center;

                    a::after { display: none; }
                }
            }

            .navigation-personal-info-wrapper { display: none; }
        }
    }
}

@media (min-width: 1080px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .bg-points {
        width: 175px;
        height: 175px;
    }
    .contact-section-wrapper {
        .contact-info { 
            h1 { font-size: 3em; }

            flex: 50%; 
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .contact-formular { 
            flex: 50%; 
            display: flex;

            form {
                display: flex;
                width: 100%;
            }

            input,label { width: 100%; }

            .inputs-wrapper {
                margin: 0 20px;

                input {
                    width: 200px;
                }
            }

            .message-input-wrapper {
                margin: 0 20px;
                width: 50%;
                max-width: 500px;

                textarea { width: 100%; }
            }
        }
    }
}

@media (min-width: 1540px) { 
    .bg-points {
        width: 175px;
        height: 175px;
    }

    .container { width: 50%; }
}